<a href="https://colab.research.google.com/github/ShabnamParveen/MachineLearning-Learning-Notebooks-created-Datasets/blob/main/popular_TV_shows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import requests

In [47]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [49]:
import warnings
warnings.filterwarnings("ignore")

In [50]:
for i in range(1, 7535):
    response = requests.get('https://api.themoviedb.org/3/tv/popular?api_key=5efd3acfdcd0bd63456fb3480fdc81a1')
    temp = pd.DataFrame(response.json()['results'])[['first_air_date', 'genre_ids', 'name', 'origin_country', 'original_language', 'overview', 'popularity', 'vote_average', 'vote_count']]
    df = df.append(temp) ##ignore_index=True should be used

In [51]:
df.shape

(150680, 9)

In [52]:
df.head()

,first_air_date,genre_ids,name,origin_country,original_language,overview,popularity,vote_average,vote_count
0,2023-05-08,"[10765, 10759]",Voltes V: Legacy,[PH],tl,Voltes V: Legacy follows the story of three br...,3251.893,5.3,4
1,2023-03-20,"[18, 10766]",Amor Perfeito,[BR],pt,,3012.752,4.2,11
2,2023-05-08,"[18, 80, 10766]",Terra e Paixão,[BR],pt,,2989.415,5.3,11
3,2023-04-02,[10764],Survivor Québec,[CA],fr,,2844.569,6.4,4
4,2022-11-02,[18],Faltu,[IN],hi,What's in a name? Amidst the arid landscape of...,2589.181,4.6,29

In [53]:
df.to_csv('popular_TV_shows.csv')

In [54]:
dataframe = pd.read_csv('/content/popular_TV_shows.csv')

In [55]:
dataframe.shape

(150680, 10)

In [56]:
dataframe.head()

,Unnamed: 0,first_air_date,genre_ids,name,origin_country,original_language,overview,popularity,vote_average,vote_count
0,0,2023-05-08,"[10765, 10759]",Voltes V: Legacy,['PH'],tl,Voltes V: Legacy follows the story of three br...,3251.893,5.3,4
1,1,2023-03-20,"[18, 10766]",Amor Perfeito,['BR'],pt,NaN,3012.752,4.2,11
2,2,2023-05-08,"[18, 80, 10766]",Terra e Paixão,['BR'],pt,NaN,2989.415,5.3,11
3,3,2023-04-02,[10764],Survivor Québec,['CA'],fr,NaN,2844.569,6.4,4
4,4,2022-11-02,[18],Faltu,['IN'],hi,What's in a name? Amidst the arid landscape of...,2589.181,4.6,29